{% extends 'base.html' %}
    {% block content %}
    <hr class="mt-5">
      <div class="container content-container content">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                  <div class="profile-image">
                    <img class="profile-image" src="{{ user.profile.image.url }}" alt="img">
                  </div>
                  <div class="post-author">
                    <h5 class="account-header mb-2">{{posts.author}}</h5>
                  </div>
                  <img  src="{{posts.image.url}}" class=" mt-2 w-100" alt="">
                  <p class="mt-3">{{posts.caption}}</p>
                  <p>{{posts.created_date|timesince}} ago</p>

                </div>
                <div class="col-md-5">
                  <div class="comment ml-5">
                     <h4>Comments</h4>
                      <blockquote class="blockquote ">
                        {% for comment in posts.comments.all %}
                        <p class="mb-0 text-black">~ {{comment.comment}}</p>
                        {% empty %}
                        <p>No Comments</p>
                        {% endfor %}
                        <footer class="blockquote-footer">By<cite title="Source Title">{{comment.user}}</cite></footer>
                      </blockquote>
                  </div>
                </div>
            </div>
        </div>
    {% endblock %}